#cn-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#cn-header {
    position: absolute;
    height: 35px;
    overflow: hidden;
    top:0;
    left: 201px;
    right: 300px;
    padding: 15px 15px 0 15px;
    background-color: #fff;
}

#cn-sidebar {
    position: absolute;
    width: 200px;
    overflow: auto;
    top:0;
    bottom: 65px;
    left: 0;
    border-right: 1px solid #ddd;
}

#cn-content {
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: 201px;
    right: 300px;
    bottom: 65px;
    overflow: auto;
    outline: 0;
    padding: 15px;
}

#cn-sidebar-right {
    position: absolute;
    top:0;
    bottom: 65px;
    right: 0;
    width: 300px;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.cn-sidebar-wrap {
    margin: 0 15px;
}

#cn-sidebar-right h2 {
    text-transform: uppercase;
    font-size: 12px;
    color: #666;
    margin: 24px 0 8px;
}

#cn-sidebar-right .cn-thumb-preview {
    margin: 5px 0;
}

#cn-sidebar-right .cn-thumb-preview img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#cn-sidebar-right .cn-thumb-details-wrap {
    overflow: hidden;
    min-height: 60px;
    margin-bottom: 16px;
    line-height: 18px;
    color: #666;
    border-bottom: 1px solid #ddd;
    padding-bottom: 11px;
}

#cn-sidebar-right .cn-thumb-details {
    float: left;
    font-size: 12px;
    max-width: 100%;
}

#cn-sidebar-right .cn-thumb-details #cn-form-name {
    font-weight: 600;
    color: #444;
    word-wrap: break-word;
}

.cn-thumb {
    cursor: pointer;
    position: relative;
    height: 160px;
    width: 120px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 4px;
    font-size: 12px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 0 8px #bcbcbc;
}

.cn-thumb .cn-image {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
}

.cn-title {
    position: absolute;
    bottom: 10px;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#cn-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 15px 15px 0 15px;
    height: 49px;
    border-top: 1px solid #ddd;
}

.cn-active {
    background-color: #cccccc;
}

#cn-loader {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#cn-loader span {
    background-image: url("../img/cn_loader.gif");
    background-size: 100% 100%;
    display: block;
    width: 72px;
    height: 72px;
    margin: 200px auto 0;
}

.cn-form-label-wrap {
    display: block;
    vertical-align: middle;
    float: left;
    width: 100%;
    margin: 1px 0;
}

.cn-form-label-wrap span {
    min-width: 30%;
    margin-right: 4%;
    font-size: 12px;
    text-align: right;
    word-wrap: break-word;
    max-width: 80px;
    float: left;
    padding-top: 8px;
    line-height: 16px;
    color: #666;
}

.cn-form-label-wrap input, .cn-form-label-wrap textarea {
    box-sizing: border-box;
    margin: 1px;
    width: 65%;
    float: right;
    font-size: 12px;
}

.cn-form-label-wrap textarea {
    height: 62px;
    resize: vertical;
}

.cn-form-label-wrap select {
    width: 65%;
    line-height: 28px;
    margin-top: 3px;
    padding: 2px;
    height: 28px;
    vertical-align: middle;
    font-size: 12px;
}

#cn-search-wrap {
    float: right;
}